@import "bourbon"
@import "vars.sass"
@import "../app/libs/OwlCarousel2/dist/assets/owl.carousel.css"
@import "../app/libs/css-hamburgers/_sass/hamburgers/hamburgers.scss"
@import "../app/libs/css-hamburgers/_sass/hamburgers/types/_spring.scss"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden
	color: #111

.text-right
	text-align: right

.text-left
	text-align: left

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .button
	font-family: "RobotoCondensedBold", sans-serif
	font-weight: normal
	text-transform: uppercase

b, strong
	font-family: "RobotoBold", sans-serif
	font-weight: normal

.button
	background-color: $accent-color
	color: #111
	padding: 10px 30px
	display: inline-block
	position: relative
	border: none
	border-radius: 2px
	text-align: center
	font-size: em(16px)
	&::after
		content: ''
		position: absolute
		left: 0
		bottom: 0
		height: 3px
		width: 100%
		transition: all .25s ease
		background-color: darken($accent-color, 10%)
		border-bottom-left-radius: 2px
		border-bottom-right-radius: 2px
	&:hover, &:focus, &:active
		color: #222
		text-decoration: none
	&:hover
		background-color: lighten($accent-color, 12%)
	&:active
		background-color: darken($accent-color, 5%)
	&-small
		padding: 6px 22px
		font-size: em(14px)
		&::after
			height: 2px

.topline
	text-align: center
	background-color: $main-color
	position: relative
	z-index: 2
	border-bottom: 1px solid lighten($main-color, 6%)
	ul, li
		list-style-type: none
		padding: 0
		margin: 0
		&.active
			a
				background-color: darken($main-color, 3%)
				border-left: 1px solid darken($main-color, 6%)
		a
			color: #fff
			border: none
			background-color: $main-color
			padding: 25px 28px 
			border-bottom: 1px solid lighten($main-color, 5%)
			transition: all .5s ease
			&:hover
				color: $accent-color
				background-color: darken($main-color, 3%)
				border-left: 1px solid darken($main-color, 6%)
	.sf-menu
		display: inline-block
		float: none
		margin: 0 auto -6px
		font-family: "RobotoCondensedRegular", sans-serif
		font-size: em(15px)
		> li
			background-color: transparent
			padding: 0
			margin: 0
			&.active
				a
					color: $accent-color
			> ul
				li
					a
						padding: 10px 28px  
						text-align: left
						border-bottom: 1px solid lighten($main-color, 10%)
						border-right: 1px solid rgba(darken($main-color, 10%), .45)
						.fa
							margin-left: 2px
							font-size: em(11px)
	
.top-panel
	padding: 50px 0
	background-color: rgba(lighten($main-color, 2%), .8)
	color: #fff
	position: absolute
	width: 100%
	z-index: 1
	box-shadow: 0 5px 0 5px rgba(#fff, .03)
	&-content
		z-index: 1
		position: relative
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-image: url(../img/top-pannel-bg.jpg)
		z-index: 0
		opacity: 0.16
	&-box
		h4
			font-family: "RobotoCondensedRegular", sans-serif
			font-size: em(15px)
			margin-top: 0
			position: relative
			&::after
				content: ''
				position: absolute
				bottom: -9px
				left: 0
				height: 1px
				width: 100%
				background-color: rgba($accent-color, .4)
		ul, li
			padding: 0
			margin: 0
		li
			display: inline-block
			list-style-type: none
			max-width: 48%
			padding: 0 10px 0 23px 
			color: rgba(#fff, .35)
			font-size: em(13px)
			position: relative
			&:only-child
				max-width: 100%
			.fa
				position: absolute
				left: 0
				font-size: 16px
				top: 6px

.logo
	img
		max-width: 100%
	position: relative
	top: 3px

.top-phone
	font-size: em(19px)
	margin-top: -3px

.top-email
	font-size: em(14px)
	a
		color: #fff
		text-decoration: underline
		&:hover
			text-decoration: none

.top-phone, .top-email
	font-family: "RobotoCondensedRegular", sans-serif
	span
		font-size: em(14px)
		opacity: 0.4
		.fa
			margin-right: 4px

.top-button
	margin-top: 22px

.slider-wrap
	.slider-nav-container
		position: relative
	.slider-nav
		position: absolute
		width: 100%
		z-index: 10
		top: 170px
		font-size: 36px
		color: #fff
		> div
			cursor: pointer
			position: absolute
			top: 160px
			&:last-child
				right: 0

.slider
	width: 100%
	.owl-dots
		position: absolute
		bottom: 100px
		width: 100%
		text-align: center
		.owl-dot
			display: inline-block
			cursor: pointer
			margin: 0 3px
			transition: background-color .25s ease
			width: 14px
			height: 14px
			border-radius: 10em
			background-color: darken($main-color, 10%)
			&.active
				background-color: $accent-color
	.slide-wrap
		float: left
		&.active
			h2
				opacity: 1
				left: 0
			p
				left: 0
			.slide-img-wrap
				transform: scale(1)
				opacity: 1
	.slide
		position: relative
		color: #fff
		padding-top: 200px
		padding-bottom: 100px
		overflow-x: hidden
		h2
			font-size: em(48px)
			margin-top: 0
			margin-bottom: 22px
			font-family: "RobotoCondensedLight", sans-serif
			line-height: em(19px)
			transition: all 1s ease
			transition-delay: .1s
			position: relative
			left: -100px
			opacity: 0
			&:first-line
				color: $accent-color
		p
			font-family: "RobotoLight", sans-serif
			margin-bottom: 40px
			opacity: 0.75
			transition: all 1s ease
			transition-delay: .5s
			position: relative
			left: 50px
		&-bg
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-size: cover
			width: 100%
			&::before
				content: ''
				background-color: $main-color
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				height: 100%
				width: 100%
				opacity: 0.85
		&-content
			position: relative
			z-index: 1
			padding-top: 60px

.slide-img-wrap
	img
		max-width: 100%
	padding-top: 12px
	opacity: 0
	transform: scale(0.8)
	transition: all 1s ease
	transition-delay: .5s

// Mobile menu
.toggle-mnu 
	display: block
	width: 28px
	height: 28px
	float: left
	margin-left: 10px

.mobile-mnu
	padding: 14px 0
	cursor: pointer
	position: relative
	z-index: 2
	background-color: $accent-color
	color: $main-color
	text-align: center
	b
		display: block
		font-size: "RobotoRegular", sans-serif
	.hamburger
		padding: 0
		position: relative
		top: 50%
		left: 15px
		.hamburger-box
			display: block
			.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after
				color: $main-color
				width: 34px
				border-radius: 0
				height: 2px
			
		


.hidden
	display: none


