@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "../app/libs/superfish/css/superfish.css"
@import "../app/libs/font-awesome/scss/font-awesome.scss"
@import "../app/libs/jQuery.mmenu/dist/jquery.mmenu.all.css"
@import "../app/libs/css-hamburgers/_sass/hamburgers/hamburgers.scss"
@import "../app/libs/magnific-popup/dist/magnific-popup.css"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

	// MMenu Styles Here

.mm-menu_offcanvas
	z-index: 20

.mm-menu .mm-listitem__text .fa
	display: none

.mm-menu .mm-listitem,
.mm-menu .mm-navbar > a,
.mm-menu .mm-counter
	color: $accent-color

.mm-menu .mm-listitem_selected
	background-color: darken($main-color, 3%)	

.mm-menu .mm-listitem
	transition: background-color .35s ease
	&:hover, .mm-listitem_selected
		background-color: darken($main-color, 3%)

.mm-menu, .mm-navbar, .mm-panel, .mm-panels
	background-color: $main-color

.mm-wrapper__blocker
	cursor: pointer

	/*---------------------------------------------*/

.sect-servises
	background-color: #f4f4f4

.services-item
	text-align: center
	transition: all .5s ease
	border: 5px solid lighten($main-color, 5%)
	padding-bottom: 32px
	position: relative
	cursor: pointer
	background-color: #fff
	z-index: 1
	&:hover
		border-color: $accent-color
		transform: scale(1.05)
		box-shadow: 0 0  32px rgba(#000, .35)
		z-index: 2
		.service-item-stars
			.fa
				margin-left: 3px
				color: $accent-color
		.services-item-image::before
			opacity: 0.72
		.services-item-image
			.fa
				opacity: 0.4
	h4
		margin-bottom: 0
		font-size: em(18px)

.services-item-image
	min-height: 190px
	background-size: cover
	background-position: top center
	position: relative
	transition: all .5s ease
	&::before
		content: ''
		position: absolute
		transition: all .5s ease
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: $main-color
		opacity: 0
	.fa
		position: absolute
		font-size: 22px
		top: 50%
		left: 50%
		margin-left: -10px
		margin-top: -10px
		transition: opacity .5s ease
		color: #fff
		opacity: 0

.services-item-wrapper
	padding: 0

.service-item-stars
	display: inline-block
	color: #b4b4b4
	.fa
		transition: all .5s ease
		font-size: em(13px)
.service-item-price
	margin: 5px 0 26px
	font-family: "RobotoCondensedBold", sans-serif
	padding-left: 5px
	position: relative
	span
		font-size: em(28px)
	.fa
		color: $accent-color
		font-size: em(18px)
		transition: all .5s ease


.sect-universal
	padding: 60px 0
	background-color: #efefef
	background-size: cover
	background-position: top center
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		opacity: 0.85
	h2
		font-size: em(40px)
		line-height: em(18px)
		margin: 
			top: 20px
			bottom: 45px

.sect-news
	background-size: cover
	background-position: top center
	color: #fff
	padding: 40px 0 60px
	&::before
		background-color: $main-color

.news-item
	text-align: center
	color: #111
	background-color: #efefef
	padding: 1px 1px 25px 1px
	display: block
	&:hover
		.news-item-image
			.fa
				opacity: 0.42
		.news-item-image
			&::before
				opacity: 0.7
	.news-item-image
		min-height: 180px
		background-size: cover
		background-position: center center
		position: relative
		transition: all .5s ease
		&::before
			content: ''
			position: absolute
			transition: all .5s ease
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: $main-color
			opacity: 0
		.fa
			position: absolute
			font-size: 22px
			top: 50%
			left: 50%
			margin-left: -10px
			margin-top: -10px
			transition: opacity .5s ease
			color: #fff
			opacity: 0


.news-item-text
	padding: 0 15px
	margin-bottom: 25px
	p
		font-size: em(16px)
		
	

.link-item
	display: block
	border: 4px solid $accent-color
	background-color: #fff
	padding: 14px
	color: #111
	margin: 15px 0
	&::after
		display: block
		content: ''
		width: 100%
		clear: both
	img
		float: left
		width: 34px
		height: auto
		margin-right: 15px
	.h4
		display: table
		position: relative
		font-size: em(16px)
	

.main-footer
	color: #fff
	background-color: #0e0b13
	padding: 70px 0
	img
		opacity: 0.45
	.footer-about
		opacity: 0.5
		font-size: em(13px)
		margin: 
			top: 30px
			bottom: 40px
	.panel-box
		margin-bottom: 30px
		li
			max-width: 100%
			margin-bottom: 18px
			color: #fff
			transition: all .5s ease
			font-size: em(13px)
			display: block
			opacity: 0.6
			&:hover
				opacity: 1
				.fa
			.fa
				transition: all .5s ease
			a
				color: #fff
				font-size: em(16px)
				text-decoration: underline
				display: block
				&:hover
					text-decoration: none
					opacity: 1
		.footer-menu
			li
				margin-bottom: 10px
	.developer
		margin-top: 80px
		margin-bottom: 20px
		a
			color: #fff
			text-decoration: none
			display: inline-block
			transition: all .5s ease
			&:hover, &:focus
				text-decoration: underline
		span
			display: block
		img
			display: block
			width: 120px
			opacity: 1



//ALWAYS END
@import "media"

